/* Melissa */
body {
    background-color: #F0EDE8; /* Changer la couleur du background */

}
  


  .text-right {
    right: 6px;
    position: absolute;
    top: 15px;
    font-family: "Avenir", sans-serif; /* Changer le style de police */
    font-size: small;  /* Changer la taille de police */
  }
  
  .logo img {
    width: 350px; 
    height: auto; 
    display: inline-block;
    vertical-align: middle;
}

  
  
main {
    padding-top: 100px; 
  }

.text-right span,
.text-right a {
    margin-left: 5px; 
    color: rgb(116, 106, 106);
    background-color: transparent; 
    padding: 10px 15px;
    border-radius: 5px;
    font-family: "Avenir", sans-serif;
    text-decoration: none;
}

.text-right span:hover,
.text-right a:hover {
color: #dcb65b;
text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.913); 
}



main {
    display: flex;
    justify-content: space-between; 
}


.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 20px;
}


.Center-block {
    text-align: center;  /* Centrer tout le block */
    margin-left: 470px; 
    margin-right: 20px; 
}


.centered-content .Center-block h2 {
    font-size: 20px;
    white-space: nowrap; 
    margin-bottom: 10px;  /* Laisser de l'espace en bas */
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
}

.centered-content .Center-block a.button {
    width: 360px; 
    border: 2px solid #000000; /* Ajouter une bordure au bouton */
    padding: 10px 20px;
    margin-top: 10px;  /* Laisser de l'espace en haut */
    font-size: 16px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: #F0EDE8;
    transition: color 0.3s ease;  
    text-decoration: none;  
color: #000000;
}

.centered-content .Center-block a.button:hover {
    color: #fff;  /* Changer de couleur lors du toucher */
}


