body {
    background-color: #F0EDE8;
}
  


  .text-right {
    right: 6px; /* Adjust as needed */
    position: absolute;
    top: 15px;
    font-family: "Avenir", sans-serif;
    font-size: small;
  }
  
  .logo img {
    width: 350px; /* Adjust the width of the image as needed */
    height: auto; /* Maintain aspect ratio */
    display: inline-block;
    vertical-align: middle;
}

  
  
main {
    padding-top: 100px; /* Adjust as needed to create space below the logo */
  }

.text-right span,
.text-right a {
    margin-left: 5px; /* Add some spacing between the text elements */
    color: rgb(116, 106, 106);
    background-color: transparent; /* Make the background transparent */
    padding: 10px 15px;
    border-radius: 5px;
    font-family: "Avenir", sans-serif;
    text-decoration: none; /* Remove default underline */
}

.text-right span:hover,
.text-right a:hover {
color: #dcb65b;
text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.913); /* Add text shadow on hover */
}



main {
    display: flex;
    justify-content: space-between; /* Separate left and right blocks */
}


.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajoute un peu d'espace en haut */
    margin-bottom: 20px; /* Ajoute un peu d'espace en bas */
}


.Center-block {
    text-align: center;
    margin-left: 340px; /* Ajoute un peu d'espace à gauche */
    margin-right: 20px; /* Ajoute un peu d'espace à droite */
}


.centered-content .Center-block h2 {
    font-size: 20px;
    white-space: nowrap; /* Empêche le texte de se retourner */
    margin-bottom: 10px; /* Ajuste la marge inférieure selon les besoins */
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
}

.centered-content .Center-block a.button {
    width: 360px; /* Ajuste la largeur selon les besoins */
    border: 2px solid #000000;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: #F0EDE8;
    transition: color 0.3s ease;
    text-decoration: none; /* Remove default underline */
color: #000000;
}

.centered-content .Center-block a.button:hover {
    color: #fff; /* Change la couleur du texte au survol */
}


